@{ 
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- START SEO -->
    @RenderSection("Seo", false)
    <!-- END SEO -->

    <!--[STYLES]-->
    @RenderSection("Styles", false)
</head>
<body class="@this.ViewData["pageClass"]">
    
    <partial name="../Layouts/_Top_Nav.cshtml" />
    
    <partial name="../Layouts/_Header.cshtml" />
    @RenderBody()
    <partial name="../Layouts/_Footer.cshtml" />
    
    <!--   Core JS Files   -->
    <script>window.jQuery || document.write('<script src="/js/jquery/jquery.min.js"><\/script>')</script>
    <script src="~/js/framework.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- <script src="~/js/shared.min.js"></script> -->

    <script src="~/js/app-client.min.js"></script>
    <script src="~/js/app-shared.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
