@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
@{
    var listTags = Model.Articles.Items.Where(a => !string.IsNullOrEmpty(a.Article.Tags)).Select(a => a.Article.Tags).ToList();
    string tags = string.Empty;
    if (listTags.Count > 0)
    {
        for (int i = 0; i < listTags.Count; i++)
        {
            tags += listTags[i] + ",";
        }
    }
    string culture = ViewBag.culture;
    var social = MixCmsHelper.GetModule("Social", ViewBag.culture as string);
}
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('@Model.ImageUrl');">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"></h2>
                    @Html.Raw(Model.Excerpt)
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOGS 4      *********      -->
    <div class="blogs-4" id="blogs-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    @foreach (var nav in Model.Articles.Items)
                    {
                        var product = nav.Article;
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="@product.DetailsUrl">
                                    <img class="img img-raised rounded" src="@product.ImageUrl" />
                                </a>
                            </div>
                            <h3 class="card-title">
                                <a href="@product.DetailsUrl">@product.Title</a>
                            </h3>
                            <h5 class="card-description">
                                @Html.Raw(product.Excerpt)
                            </h5>
                            <a href="@product.DetailsUrl" class="btn btn-primary btn-round">Read More</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
