@{ 
    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
}
<!DOCTYPE html>
<html lang="@ViewBag.culture" amp>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/shared.min.css" />
    <link rel="stylesheet" href="~/css/app-vendor.min.css" />
    <base href="/@ViewBag.culture">
    
    @RenderSection("Seo", false)     
    <!--[STYLES]-->
    @RenderSection("Styles", false)    
</head>

<body class="@ViewData["PageClass"]" 
 
 ng-app="MixClient" ng-controller="AppClientController" ng-init="init('@ViewBag.culture')">    
    <div class="wrapper">
        <div class="wrapper">
        @RenderBody()                
        </div>
    </div>

   <!--   Core JS Files   -->
    <script src="~/js/framework.min.js"></script>
    <script src="~/js/app-client-required.min.js"></script>
    <script src="~/js/app-client.min.js"></script>
    <script src="~/js/app-shared.min.js"></script>
    <!--[SCRIPTS]-->
    @RenderSection("Scripts", false)
</body>
</html>
