@model  Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
<div class="testimonials-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title text-primary">@Model.Title </h2>
            </div>
        </div>
        <div class="row">
        @foreach (var item in Model.Data.Items.Take(3))
        {
            var desc = (item.Property("description"));
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="">
                            <img class="img img-raised rounded" src="@item.Property("image")" width="100" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.Property("name")</h3>
                        <h6 class="category text-primary">@item.Property("title")</h6>
                        <p class="card-description">                                                  
                            <limit-string content="'@Html.UrlEncoder.Encode(item.Property("description"))'" 
                            max="180" module-id="'@(item.ModuleId)'" content-id="'@(item.Id)'" show-data="'true'"></limit-string>
                        </p>
                    </div>
                </div>
            </div>
        }
        
        </div>
         <div class="row">
            
         </div>
    </div>
</div>
