@model List<Mix.Cms.Lib.ViewModels.MixPostPosts.ReadViewModel>
<div class="cd-section" id="blogs-5">
   
 <!--     *********    END BLOGS 5      *********      -->
    <div class="blogs-5" data-background-color="gray">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row">
                        @foreach(var item in Model)
                        {
                            var post = item.RelatedPost;
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a href="@post.DetailsUrl">
                                           <img class="img rounded" src="@post.ImageUrl">
                                       </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="category text-primary">@post.Icon</h6>
                                        <h5 class="card-title">
                                            <a href="@post.DetailsUrl">
                                            @post.Title
                                            </a>
                                        </h5>
                                        <p class="card-description">
                                            @Html.Raw(post.Excerpt)
                                        </p>
                                                                            
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOGS 5      *********      -->
</div>
