

<div class="cd-section" id="blogs">
   
 <!--     *********    END BLOGS 5      *********      -->
    <div class="blogs-5" data-background-color="gray">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">@Model.Title</h2>
                    <div class="row">
                        @foreach(var item in Model.Articles.Items)
                        {
                            var article = item.Article;
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a asp-area="" asp-controller="Home" asp-action="ArticleDetails" asp-route-SeoName="@article.SeoName">
                                           <img class="img rounded" src="@article.Image">
                                       </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="category text-primary">@article.Icon</h6>
                                        <h5 class="card-title">
                                            @article.Title
                                        </h5>
                                        <p class="card-description">
                                            @article.Excerpt
                                        </p>
                                        <div class="card-footer">
                                            <div class="author">
                                                <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                                <span>@article.CreatedBy</span>
                                            </div>
                                            <div class="stats stats-right">
                                                <em class="now-ui-icons tech_watch-time"></em> 5 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOGS 5      *********      -->
</div>
