<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />


    <link rel="icon" type="image/png" sizes="16x16" href="@(MixService.GetConfig<string>("Favicon", ViewBag.culture) ?? "/favicon-16x16.png")">
    @*<link rel="manifest" href="/manifest.json">*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta property="fb:app_id" content="@(MixService.GetConfig<string>("FacebookAppId", ViewBag.culture))" />
    <script>document.write('<meta property="og:url" content="' + window.top.location + '" />')</script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>@(MixService.GetConfig<string>("SiteName", ViewBag.culture)) - @ViewData["Title"]</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200|Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/Content/Templates/Default/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Templates/Default/assets/css/now-ui-kit.css?v=1.2.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/Content/Templates/Default/assets/demo/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/app-vendor.min.css" />
    <base href="/@ViewBag.culture">

    @if (!string.IsNullOrEmpty(MixService.GetConfig<string>("Google_Analytic_Key", ViewBag.culture)))
    {
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '@(MixService.GetConfig<string>("Google_Analytic_Key", ViewBag.culture))', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    }

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1471411989648473&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @if (!string.IsNullOrEmpty(MixService.GetConfig<string>("FacebookAppId", ViewBag.culture)))
    {
        <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@(MixService.GetConfig<string>("FacebookAppId", ViewBag.culture))',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    }
    
    <!--[STYLES]-->
    @RenderSection("Seo", false)
    @RenderSection("Styles", false)
    
</head>

<body class="@ViewData["PageClass"]" ng-app="MixClient" ng-controller="AppClientController" ng-init="init('@ViewBag.culture')">
    <div id="fb-root"></div>
    <partial name="../Layouts/_Top_Nav.cshtml" />
    <div class="wrapper">
        <partial name="../Layouts/_Header.cshtml" />
        @RenderBody()
        <partial name="../Layouts/_Footer.cshtml" />
    </div>
    <!--   Core JS Files   -->
    
    <script src="~/js/framework.min.js"></script>
    <!-- <script src="~/js/bootstrap.min.js"></script> -->
    <!-- <script src="~/js/shared.min.js"></script> -->

    <script src="~/js/app-client.min.js"></script>
    <script src="~/js/app-shared.min.js"></script>

    <!-- <script src="~/app-client/shared/controllers/app-client-controller.js"></script> -->
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200|Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">             
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!--  Google Maps Plugin    -->
    <!o-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="/Content/Templates/Default/assets/js/now-ui-kit.js?v=1.2.2" type="text/javascript"></script>

    <!--[SCRIPTS]-->
    @RenderSection("Scripts", false)
</body>
</html>
