<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="@(MixService.GetConfig<string>("Favicon", ViewBag.culture) ?? "/favicon-16x16.png")">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - @(MixService.GetConfig<string>("Theme", ViewBag.culture) ?? "Mix - I/O")</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    @if (!string.IsNullOrEmpty(MixService.GetConfig<string>("GA_KEY", ViewBag.culture)))
    {
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '@(MixService.GetConfig<string>("GA_KEY", ViewBag.culture))', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    }
    <!--[STYLES]-->
    @RenderSection("Styles", false)
</head>
<body class="@this.ViewData["pageClass"]" ng-app="MixClient" ng-init="initApp()"
      data-spy="scroll" data-target=".navbar-collapse">
    <div class="loader-container" ng-show="isBusy">
        <div id="loader"></div>
    </div>
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>
    <partial name="../Layouts/_Top_Nav.cshtml" />
    <div class="wrapper">
        <partial name="../Layouts/_Header.cshtml" />
        @RenderBody()
        <partial name="../Layouts/_Footer.cshtml" />
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
