@model Mix.Cms.Lib.ViewModels.MixArticles.ReadMvcViewModel
@{
    string culture = ViewBag.culture;
}   
@section Seo{
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}")" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description"
          content="@Model.Excerpt" />
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Model.Image}")" />
}
@if (!string.IsNullOrEmpty(Model.TemplatePath))
{
    try
    {

        <partial name="@Model.TemplatePath" model="@Model" />
    }
    catch (Exception ex)
    {

        <p class="danger text-center has-error">@ex.StackTrace</p>
    }
}
else
{
    <section class="container">
        <h1>@MixService.Translate("Please choose template", ViewBag.culture)</h1>
    </section>
}
@section Styles{
    
    @Html.Raw(Model.View?.Styles)
    @Html.Raw(Model.View?.Scripts)
}
