@using Mix.Lib.Services

@inject MixConfigurationService configService

<script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "NewsArticle",
  "headline": "@Model.Title",
  "image": [
    "@Model.Image"
    ],
  "datePublished": "@Model.CreatedDateTime",
  "dateModified": "@Model.LastModified",
  "author" : "@Model.CreatedBy",
  "publisher" : {
         "@@type": "Organization",
         "name": "@(configService.GetConfig<string>("SiteName", ViewBag.culture))",
         "logo": {
            "@@type": "ImageObject",
            "url":"https://mixcore.org/assets/img/mixcore-logo-green.png"
         }
      },
  "mainEntityOfPage" : {
         "@@type": "WebPage",
         "@@id": "@Model.DetailUrl"
      }
}
</script>

<div class="profile-page">
  <partial name="../Layouts/MainNavigation.cshtml"/>
  <partial name="../Widgets/PostHeroBanner.cshtml"/>

  <div class="main main-raised">
      <div class="section text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h1 class="title">@Model.Title</h1>
              <h2 class="description">@Model.Excerpt</h2>
            </div>
          </div>
      </div>
      <div class="section section-basic">
        <div class="container ql-editor">
            @Html.Raw(Model.Content)
        </div>
      </div>
      
      <partial name="../Widgets/BlogInfo.cshtml"/>
  </div>


  <partial name="../Widgets/LatestBlogPosts.cshtml"/>
  <partial name="../Layouts/Footer.cshtml"/>
</div>
