<div class="header-3">
    <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Products.Items.Count; i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Data.JsonItems.Count; i++)
            {
                var data = Model.Data.JsonItems[i];
                <div class="carousel-item @(i==0?"active":"")">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('@data["image"]');"></div>
                        <div class="content-center">
                            <div class="container text-left">
                                <div class="content-center">
                                    <div class="row">
                                        @*
                                        <div class="col-md-6 ml-auto mr-auto text-right">
                                            <h1 class="title">@data["title"]</h1>
                                            <h4 class="description ">
                                                @Html.Raw(data["descriptionn"])
                                            </h4>
                                            <a href="@data["url"]">Read more</a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
        </a>
    </div>
</div>
<!--     *********    END HEADER 3      *********      -->
