<!--     *********     BLOGS 1      *********      -->

<div class="blogs-1" id="blogs-1">

    <div class="container">
        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">
                <h2 class="title">Latest Blogposts</h2>

                <br />
                @foreach(var item in Model.Data.Items){
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="card-title">
                                <a href="@item.Property("url")">@item.Property("title")</a>
                            </h3>
                            <p class="card-description">
                               @item.Property("description")<a href="@item.Property("url")"> Read More </a>
                            </p>
                            <p class="author">
                                by <a href="@item.Property("url")"><b>Anthony Ha</b></a>, 5 days ago
                            
                        </div>
                        <div class="col-md-5">
                            <div class="card-image">
                                <img class="img img-raised rounded
                                " src="@item.Property("image")" />
                            </div>
                        </div>
                    </div>
                </div>
                }
                

            </div>

        </div>



    </div>
</div>

<!--     *********    END BLOGS 1      *********      -->
