<div class="projects-1 pb-0 section-blog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">@Model.Title</h2>
                <p class="description">@Html.Raw(Model.Description)</p>
            </div>
        </div>
        <div class="row">            "
            @foreach(var nav in Model.Articles.Items)
            {
                var article = nav.Article;
                <div class="col-md-6 mr-auto ml-auto px-0">
                    <div class="card card-background card-background-product card-no-shadow" style="background-image: url('@article.Thumbnail')">
                        <div class="card-body">
                            <h3 class="card-title">
                                @article.Title
                            </h3>
                            <div class="card-description" style="color:white">
                                @Html.Raw(article.Excerpt)
                            </div>
                            <a href="@article.DetailsUrl" class="btn btn-danger btn-round">
                                <i class="now-ui-icons ui-1_send"></i> Read More
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
