<div class="projects-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">@Model.Title</h2>
                <p class="description">@Html.Raw(Model.Description)</p>
            </div>
        </div>
        <div class="row">
             @foreach(var nav in Model.Articles.Items)
            {
            <div class="col-md-6 px-0">
                <div class="card card-background card-background-product card-no-shadow" style="background-image: url('@nav.Article.ThumbnailUrl')">
                    <div class="card-body">
                        <h6 class="category">History</h6>
                        <h3 class="card-title">
                            @nav.Article.Title
                        </h3>
                        <p class="card-description">
                            
                        </p>
                        <a href="@nav.Article.DetailsUrl" class="btn btn-danger btn-round">
                            <i class="now-ui-icons ui-1_send"></i> Read More
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
