@{
    int count = 0;
}
<div class="testimonials-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">@Model.Title</h2>
            </div>
        </div>
        <div class="row">
         @foreach (var item in Model.Data.Items)
            {
            var desc = (item.Property("description"));
            if(count<3)
            {
            count ++;
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="">
                            <img class="img img-raised rounded" src="@item.Property("image")" width="100" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.Property("name")</h3>
                        <h6 class="category text-primary">@item.Property("title")</h6>
                        <p class="card-description">                                                  
                            <limit-string content="'@System.Web.HttpUtility.UrlEncode(item.Property("description"))'" 
                            max="280" module-id="'@(item.ModuleId)'" content-id="'@(item.Id)'"></limit-string>
                        </p>
                    </div>
                </div>
            </div>
            }
            else{
                break;
            }
        }
        
        </div>
         <div class="row">
             <div class="col-md-12">
                 <a class="float-right" href="/@ViewBag.culture/what-clients-say">View More</a>
             </div>
         </div>
    </div>
</div>
