<div class="section">
    <div class="container">
        <h2 class="section-title">Find what you need</h2>
        <div class="row">
            <div class="col-md-12">
                @if( Model.Articles.TotalItems > 0)
                {
                <div class="row">
                    @foreach(var nav in Model.Articles.Items){
                        var data = nav.Article;
                        <div class="col-lg-4 col-md-6">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="@data.DetailsUrl">
                                    <img src="@data.ImageUrl" alt="@data.SeoTitle" />
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="@data.DetailsUrl">
                                    <h4 class="card-title">@data.Title <span style="width:15px; height:15px;display:inline-block;background-color: @data.Property("Color")"></span></h4>
                                </a>
                                
                                <p class="card-description">
                                    @data.Property("Description")
                                </p>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">@data.Property("price")</span>
                                    </div>
                                    <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    }
                    
                
                </div>
                <div class="row">
                    <div class="col-md-3 ml-auto mr-auto">
                        <button rel="tooltip" class="btn btn-primary btn-round">Load more...</button>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </div>
</div>
