<!--     *********     BLOGS 3      *********      -->

<div class="blogs-3 pb-0">

    <div class="container">
        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">
                @foreach(var item in Model.Articles.Items)
                {
                    var article = item.Article;
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-image">
                                <img class="img img-raised rounded" src="@article.ThumbnailUrl" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="card-title">
                                <a href="@article.DetailsUrl">@article.Title</a>
                            </h3>
                            <p class="card-description">
                                @Html.Raw(article.Excerpt) <a href="@article.DetailsUrl"> @(MixService.Translate<string>("read_more", ViewBag.culture))</a>
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>

    </div>
</div>


<!--     *********    END BLOGS 3      *********      -->
