@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="50">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="/@ViewBag.culture" title="mixcore">
                <img class="logo" src="@(MixService.GetConfig<string>("Logo", ViewBag.culture))" 
                     title="@(MixService.GetConfig<string>("SiteName", ViewBag.culture as string))" 
                     alt="@(MixService.GetConfig<string>("SiteName", ViewBag.culture as string))" height="25" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-primary">
            <ul class="navbar-nav ml-auto">
                @foreach (var nav in Model.Modules.OrderBy(n => n.Priority))
                {
                    var item = nav.Module;                    
                    <li class="nav-item header" data-scroll-to="#@item.Name">
                        <a href="/@ViewBag.culture/#@item.Name" class="nav-link">@item.Title</a>
                    </li>                    
                }
                <li class="nav-item">
                    <form action="/@ViewBag.culture/search/" method="get" class="col-sm-12 pr-4">
                                <input type="hidden" value="@ViewBag.culture" name="culture"/>
                                <input id="inputhead" name="keyword" type="text" placeholder="Keywords" class="form-control ml-2 mt-1 mr-2 bg-white">
                            </form><!-- /form -->
                </li>             
            </ul>           
                 
        </div>
    </div>
</nav>
