@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    string culture = ViewBag.culture;
    var topCates = ViewData["TopPages"] as List<Mix.Cms.Lib.ViewModels.MixPages.ReadListItemViewModel>;
    var socials = await MixCmsHelper.GetModuleAsync("socials", ViewBag.culture, Url);
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent">
    <div class="container">        
        <div class="navbar-translate">
            <a class="navbar-brand" href="/@ViewBag.culture">
                    <img class="logo" height="120" src="@(MixService.GetConfig<string>("Logo", ViewBag.culture))" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar top-bar"></span>
                <span class="navbar-toggler-bar middle-bar"></span>
                <span class="navbar-toggler-bar bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="@assetFolder/assets/img/blurred-image-1.jpg" data-color="orange">
             <ul class="navbar-nav ml-auto">
                @foreach (var cate in topCates.OrderBy(c => c.Priority))
                {
                    string activedClass = cate.IsActived ? "active" : string.Empty;
                    if (cate.Type == MixEnums.MixPageType.Blank)
                    {
                        <li class="dropdown nav-item @activedClass">
                            <a href="@cate.StaticUrl" target="_blank"
                               class="nav-link dropdown-toggle" data-toggle="dropdown" id="dd-@cate.Id">
                                @cate.Title <i class="@cate.Icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-@cate.Id">
                                @foreach (var childNav in cate.Childs.OrderBy(c => c.Priority))
                                {
                                    activedClass = childNav.IsActived ? "active" : string.Empty;
                                    <a href="@childNav.Page.DetailsUrl" class="dropdown-item @activedClass">@childNav.Page.Title</a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item @activedClass">

                            <a href="@cate.DetailsUrl" class="nav-link">@cate.Title</a>
                        </li>

                    }
                }
            </ul>
        </div>
    </div>
</nav>
