@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);    
}
<div class="wrapper">
    
    <div>
       
        <!--     *********     HEADER 1      *********      -->

        <div class="header-1">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('@Model.ImageUrl');"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h2>Welcome to</h2>
                                <h1 class="title text-primary">@(MixService.GetConfig<string>("SiteName", ViewBag.culture))</h1>
                                <h4 class="description">@Html.Raw(Model.Content)</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--     *********    END HEADER 1      *********      -->
        @foreach (var nav in Model.Modules.OrderBy(n => n.Priority))
        {
            var module = nav.Module; 
            if (module != null)
            {
                <partial name="@module.TemplatePath" model="@module" />
            }
        }

    </div>
</div>
