@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
<div class="section">
    <div class="container">
        <h2 class="section-title">Find what you need</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="collapse-panel">
                    <div class="card-body">
                        <div class="card card-refine card-plain">
                            <h4 class="card-title">
                                Refine
                                <button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
                                    <i class="arrows-1_refresh-69 now-ui-icons"></i>
                                </button>
                            </h4>
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Price Range
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <span id="price-left" class="price-left pull-left" data-currency="&euro;">100</span>
                                    <span id="price-right" class="price-right pull-right" data-currency="&euro;">850</span>
                                    <div class="clearfix"></div>
                                    <div id="sliderRefine" class="slider slider-refine"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-refine card-plain">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Clothing
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox" checked="">
                                        <label for="checkbox1">
                                            Blazers
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                            Casual Shirts
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
                                            Formal Shirts
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">
                                            Jeans
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox">
                                        <label for="checkbox5">
                                            Polos
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox">
                                        <label for="checkbox6">
                                            Pijamas
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox7" type="checkbox">
                                        <label for="checkbox7">
                                            Shorts
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox8" type="checkbox">
                                        <label for="checkbox8">
                                            Trousers
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-refine card-plain">
                            <div class="card-header" role="tab" id="headingThree">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Designer
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <div class="checkbox">
                                        <input id="checkbox9" type="checkbox">
                                        <label for="checkbox9">
                                            All
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox10" type="checkbox">
                                        <label for="checkbox10">
                                            Polo Ralph Lauren
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox11" type="checkbox">
                                        <label for="checkbox11">
                                            Wooyoungmi
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox12" type="checkbox">
                                        <label for="checkbox12">
                                            Alexander McQueen
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox13" type="checkbox">
                                        <label for="checkbox13">
                                            Tom Ford
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox14" type="checkbox">
                                        <label for="checkbox14">
                                            AMI
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox15" type="checkbox">
                                        <label for="checkbox15">
                                            Berena
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox16" type="checkbox">
                                        <label for="checkbox16">
                                            Thom Sweeney
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox17" type="checkbox">
                                        <label for="checkbox17">
                                            Burberry Prorsum
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox18" type="checkbox">
                                        <label for="checkbox18">
                                            Calvin Klein
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox19" type="checkbox">
                                        <label for="checkbox19">
                                            Kingsman
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox20" type="checkbox">
                                        <label for="checkbox20">
                                            Club Monaco
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox21" type="checkbox">
                                        <label for="checkbox21">
                                            Dolce & Gabbana
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Gucci
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox23" type="checkbox">
                                        <label for="checkbox23">
                                            Biglioli
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox24" type="checkbox">
                                        <label for="checkbox24">
                                            Lanvin
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox25" type="checkbox">
                                        <label for="checkbox25">
                                            Loro Piana
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox26" type="checkbox">
                                        <label for="checkbox26">
                                            Massimo Alba
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-refine card-plain">
                            <div class="card-header" role="tab" id="headingfour">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        Colour
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour">
                                <div class="card-body">
                                    <div class="checkbox">
                                        <input id="checkbox27" type="checkbox">
                                        <label for="checkbox27">
                                            All
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox28" type="checkbox">
                                        <label for="checkbox28">
                                            Black
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox29" type="checkbox">
                                        <label for="checkbox29">
                                            Blue
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox30" type="checkbox">
                                        <label for="checkbox30">
                                            Brown
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox31" type="checkbox">
                                        <label for="checkbox31">
                                            Gray
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox32" type="checkbox">
                                        <label for="checkbox32">
                                            Green
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox33" type="checkbox">
                                        <label for="checkbox33">
                                            Neutrals
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox34" type="checkbox">
                                        <label for="checkbox34">
                                            Purple
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @if( Model.Articles.TotalItems > 0)
                {
                <div class="row">
                    @foreach(var nav in Model.Articles.Items){
                    var data = nav.Article;
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="@data.DetailsUrl">
                                    <img src="@data.ImageUrl" alt="@data.SeoTitle" />
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="@data.DetailsUrl">
                                    <h4 class="card-title">@data.Title <span style="width:15px; height:15px;display:inline-block;background-color: @data.Property(" Color")"></span></h4>
                                </a>

                                <p class="card-description">
                                    @data.Property("Description")
                                </p>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">@data.Property("price")</span>
                                    </div>
                                    <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    }


                </div>
                <div class="row">
                    <div class="col-md-3 ml-auto mr-auto">
                        <button rel="tooltip" class="btn btn-primary btn-round">Load more...</button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>
