<!--     *********     FEATURES 4      *********      -->
<div class="features-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Coming home, a pleasure!</h2>
                <h4 class="description">Havenly is a convenient, personal and affordable way to redecorate your home room by room. Collaborate with our professional interior designers on our online platform. </h4>
            </div>
        </div>
        <div class="row">
            @foreach (var nav in Model.Products.Items)
            {
                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color style="background-image: url('@nav.Product.ImageUrl')">
                        <div class="info">
                            <div class="icon icon-white">
                                <i class="now-ui-icons business_bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">@nav.Product.Title</h4>
                                @Html.Raw(nav.Product.Excerpt)
                                <a href="@nav.Product.DetailsUrl" class="ml-3">@(MixService.Translate<string>("read_more", Model.Specificulture)) &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--     *********    END FEATURES 4      *********      -->
