@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html lang="en">

<head>
    <base href="/portal">
    <title>@ViewData["Title"] - Angular mixcore</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <!-- <meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="@(MixService.GetConfig<string>("Favicon", ViewBag.culture) ?? "/mixcore-logo-green-16x16.png")">

    <link rel="stylesheet" href="~/css/app-vendor.min.css" />
    <link rel="stylesheet" href="~/css/shared.min.css" />
    <link rel="stylesheet" href="~/css/portal.min.css" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="~/css/portal/mixcore.css" /> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->

    @RenderSection("Styles", required: false)
</head>

<body ng-app="MixPortal" ng-init="init()" ng-controller="AppPortalController" class="d-block overflow-auto">
    <!-- <link rel="stylesheet" href="~/css/portal-light-theme-params.css" /> -->
    <style>
        :root
        {
            --primary-color-hue : {{globalSettings.portalThemeSettings.primaryColorHue}};
            --primary-color-saturation : {{globalSettings.portalThemeSettings.primaryColorSaturation}}%;
            --primary-color-brightness : {{globalSettings.portalThemeSettings.primaryColorBrightness}}%;
            --bg-color: {{globalSettings.portalThemeSettings.bgColor}};
            --text-color: {{globalSettings.portalThemeSettings.textColor}};
        }
        body{
            /*font-family: 'Quicksand', sans-serif;*/
        }
        .btn-group-xs > .btn, .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: .5;
            border-radius: .2rem;
        }
        .modal{
            background-color: hsla(var(--primary-color-hue,211),20%,10%,0.5);
        }
    </style>
    @RenderBody()

    <script src="~/js/framework.min.js"></script>
    <script src="~/js/shared.min.js"></script>
    <script src="~/js/portal.min.js"></script>

    <script src="~/js/app-portal-required.min.js"></script>
    <script src="~/js/app-portal.min.js?v=@(Guid.NewGuid())"></script>
    <script src="~/js/app-shared.min.js?v=@(Guid.NewGuid())"></script>

    <script>var require = { paths: { 'vs': '/js/monaco-editor/min/vs' } };</script>
    <script src="/js/monaco-editor/min/vs/loader.js"></script>
    <script src="/js/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="/js/monaco-editor/min/vs/editor/editor.main.js"></script>

    <!-- End Components -->
    @RenderSection("Scripts", required: false)

    <!--Datatables-->
    @*@RenderSection("Modals", required: false)*@
    @*@await Component.InvokeAsync(typeof(Mix.Cms.Mvc.Areas.Portal.ViewComponents.Modals))*@
</body>
</html>