<div class="section text-center">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Let's talk product</h2>
        <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
        </div>
    </div>
    <div class="features">
        <div class="row">
        @foreach(var item in Model.Data.Items){
            <!-- <p>@item.Property("address")</p> -->
            
            <div class="col-md-4">
                <div class="info">
                <div class="icon @item.Property("iconColor")">
                    <i class="material-icons">@item.Property("materialIcons")</i>
                </div>
                <h4 class="info-title">@item.Property("title")</h4>
                <p>@item.Property("description")</p>
                </div>
            </div>
        }
        </div>
    </div>
</div>
