<!--     *********     FEATURES 4      *********      -->

    <div class="features-4 features-aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">@Model.Title</h2>
                    <div class="description">@Html.Raw(Model.Description)</div>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model.Data.Items)
                {
                    <div class="col-md-4">
                        @if(!string.IsNullOrWhiteSpace(item.Property("video_youtube")))
                        {
                            <iframe class="card" width="350" height="283" src="https://www.youtube.com/embed/@(item.Property("video_youtube"))" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        }
                        else{
                            <div class="card card-raised" data-background-color style="background-image: url('@item.Property("image")');background-size:cover; background-position:center center">
                                
                                <div class="info">
                                   
                                    <div class="icon icon-white">
                                        <i class="@item.Property("icon")"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">@item.Property("title")</h4>
                                       <p class="desc">@item.Property("description")</p>
                                        @if(!string.IsNullOrWhiteSpace(item.Property("url")))
                                        {
                                            <a href="@item.Property("url")" class="ml-3">Read More &raquo;</a>
                                        }
                                    </div>
                                    
                                </div>
                               
                            </div>
                        }
                    </div>
                
                }
            </div>
        </div>

    </div>

    <!--     *********    END FEATURES 4      *********      -->
