@{
    var social = MixCmsHelper.GetModule("social", ViewBag.culture);
}
<div class="header-1">
    <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('@Model.Image');"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 ml-auto text-right">
                        <h1 class="title">@Model.Title</h1>
                        <h4 class="description">@Html.Raw(Model.Description)</h4>
                        <br />
                        @if (social!=null)
                        {
                            <partial name="@social.TemplatePath" model="@social"/>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
