@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    var socials = await MixCmsHelper.GetModuleAsync("socials", ViewBag.culture, Url);
}
<div class="cd-section pt-0 mt-0 contact" id="contactus">
<!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1 section-image" style="background-image: url('@Model.Image')">
        <div id="gmap" class="map" style="width: 100%;height: 100%;position: absolute;top: 0;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.715722341807!2d106.6787773005984!3d10.79185768463104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175296ce0aeaad7%3A0xe680e0354d43105a!2sMaVee+Spa!5e0!3m2!1sen!2s!4v1562227026220!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">@Model.Title</h2>
                    <h4 class="description">@Model.Description</h4>
                    <p class="description text-primary">
                        @(MixService.GetConfig<string>("working_time", ViewBag.culture))
                    </p>
                    @if(socials!=null){
                        foreach(var item in socials.Data.Items){
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="@item.Property("icon")"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">@item.Property("description")</h4>
                                    <p class="description"> 
                                        
                                        
                                        <a href="@item.Property("url")" class="btn-link btn-primary" target="_blank">
                                            @item.Property("title")
                                        </a>                
                                        
                                    </p>
                                </div>
                            </div>
                        }
                    }  
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Address</h4>
                            <p class="description"> 
                            <a class="text-primary" target="_blank" href="https://www.google.com/maps/place/MaVee+Spa/@@10.7935984,106.6763596,17z/data=!4m8!1m2!2m1!1zTWFWZWUgU3BhLCAxNUcgTmd1eeG7hW4gVsSDbiBUcuG7l2ksIHBoxrDhu51uZyAxNCwgUGjDuiBOaHXhuq1uLCBI4buTIENow60gTWluaA!3m4!1s0x3175296ce0aeaad7:0xe680e0354d43105a!8m2!3d10.7918709!4d106.6809985">@(MixService.GetConfig<string>("ContactAddress", ViewBag.culture))</a>
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons tech_mobile"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Phone</h4>
                            <p class="description"> 
                                <a class="text-primary" href="tel:@(MixService.GetConfig<string>("ContactPhone", ViewBag.culture))">@(MixService.GetConfig<string>("ContactPhone", ViewBag.culture))</a>
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons ui-1_email-85"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Email</h4>
                            <p class="description">                              
                                <a class="text-primary" href="mailto:@(MixService.GetConfig<string>("ContactEmail", ViewBag.culture))">@(MixService.GetConfig<string>("ContactEmail", ViewBag.culture))</a>
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <partial name="@Model.FormTemplatePath" />
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <!--     *********    END CONTACT US 1      *********      -->

</div>
