<div class="section">
    <div class="container">
        <h2 class="section-title">Latest Offers</h2>
        <div class="row">
            @foreach(var nav in Model.Articles.Items){
            var data = nav.Article;
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="@data.ImageUrl" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@data.DetailsUrl">@data.Title</a>
                        </h4>
                        <p class="card-description">@data.Excerpt</p>
                        <div class="card-footer">
                            <div class="price-container">
                                <span class="price price-old">@data.Property("Price")</span>
                                <span class="price price-new"> @data.Property("PriceNew")</span>
                            </div>
                            <div class="stats stats-right">
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
